.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.CheckoutProduct__info{
    padding-left: 20px;
}
.CheckoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.CheckoutProduct__info button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.44);
border-radius: 3px
}
.CheckoutProduct__rating{
    display: flex;
}
.CheckoutProduct__title{
    font-size: 17px;
    font-weight: 600;
}